* {
	box-sizing: border-box;
}

body {
	background-image: url(../../images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 1920px 1080px;
	height: 100%;
}


button {
	display: block;
	width: 64px;
	height: 64px;
	margin-right: auto;
	margin-left: auto;
}

button.landing {
	width: 200px;
	height: 64px;
	margin-bottom: 20px;
}

nav {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: black 2px solid;
}

h1 {
	text-align: center;
}

article {
	border: black 1px solid;
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px; 
	margin-right: 0 auto;
	margin-left: 0 auto;
}

fieldset {
	text-align: center;
}

input {
	margin-bottom: 5px;
	margin-top: 5px !important;
}

legend {
	font-size: 50px;
}

fieldset.makeDrink > h1,input.btn {
	text-align: center !important;
	margin-left: 0;
	margin-right: 0;
}

form#login {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

form#search {
	text-align: center;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

div.login {
	width: 100%;
	max-width: 330px;
	padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: black 2px solid;
}

div.register {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: black 2px solid;
}


div.button_drinks, div.button_make, div.button_myDrinks, div.button_terms{
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div.results {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.search {
	text-align: center;
	margin-right: auto;
	margin-left: auto; 
}

div.Search {
	text-align: center;
}

div.newDrink > div.drink {
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px; 
}

div.makeDrink, div.editDrink {
	padding-right: 15px;
	padding-left: 15px;
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: black 2px solid;
}

div.landing {
	margin-top: 100px;
	padding-right: 15px;
	padding-left: 15px;
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: black 2px solid;
    text-align: center;
}

div.landing > h1, h2, h3, h4 {
	padding-top: 20px;
	padding-bottom: 10px;
}

div.drink {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

div.drink_log {
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

/*div.drinkName, div.glass, div.ingredents, div.instructions, div.drinkImage, div.garnish > input, label {
	display: block;
}*/

input.back {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}

img.icon {
	width: 90px;
	height: 90px;
}

img.result {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;	
	width: 120px;
	height: 120px;
	display: block;
	margin-bottom: 10px; 
}

img.placeholder {
	height: 50px;
	width: 50px;
}

img.edit {
	width: 250px;
	height: 250px;
}

span.result {
	display: block;
}

textarea {
	width: 100%;
}

.home, .logout {
	width: 100px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.edit {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.delete {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
}

.drinks {
	margin-bottom: 40px;
}

.border {
	background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    border: black 2px solid;
}}

.drink_log {
	height: 350px;
	position: relative;
}

.drink_btn {
	position: absolute;
	bottom: 1em;
	left: 0;
}

.drinkPage {
	display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 250px;
    float: none;
}

.hidden {
	display: none !important;
}

.rows {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.rows::before,
.rows::after {
  display: table;
  content: '';
}

.rows::after {
  clear: both;
}
.colu-3, .colu-4, .colu-6, .colu-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.colu-3, .colu-4, .colu-6, .colu-12 {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 700px) {

	.drinkPage {
		width: 500px;
    	height: 500px;
    	margin-right: 20px;
    	float: left;
    	margin-left: auto;
	}
	.drinkPage {
		width: 500px;
	    height: 500px;

	}
}

@media only screen and (min-width: 640px) {

	.colu-3 {
    	width: 25%;
	}

	.colu-4 {
		width: 33.33%
	}

	.colu-6 {
		width: 50%;
	}

	.colu-12 {
		width: 100%;
	}
	div.drinkName {
		float: left;
	}
	div.glass {
		float: right;
	}
	div.drinkImage {
		float: left;
	}
	div.garnish {
		float: right;
	}
}
@media only screen and (min-width: 426px) {

	legend {
		font-size: 25px;
	}

}
@media only screen and (min-width: 320px) {

	.home, .logout {
		width: 75px;
	}

}