* {
	box-sizing: border-box;
}

button {
	display: block;
	width: 64px;
	height: 64px;
	margin-right: auto;
	margin-left: auto;
}

nav {
	display: block;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
	/*position: fixed;*/
}

h1 {
	text-align: center;
}

article {
	border: black 1px solid;
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px; 
	margin-right: 0 auto;
	margin-left: 0 auto;
}

fieldset {
	text-align: center;
}

fieldset.makeDrink {
	text-align: left;
}

fieldset.makeDrink > h1,input.btn {
	text-align: center !important;
	margin-left: 0;
	margin-right: 0;
}

input {
	margin-bottom: 5px;
	margin-top: 5px;
}

legend {
	font-size: 50px;
}

div.login {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

div.register {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	padding-bottom: 40px;
    padding-top: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

form.login {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

div.button_drinks, div.button_make, div.button_myDrinks, div.button_terms, div.editDrink{
	width: 100%;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
}

div.results {
	display: flex;
	justify-content: center;
	align-items: center;
}

div.search {
	text-align: center;
	margin-right: auto;
	margin-left: auto; 
}

input.back {
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}

form#search {
	text-align: center;
	margin-right: auto;
	margin-left: auto;	
}

img.result {
	margin-top: 5px;
	margin-left: auto;
	margin-right: auto;	
	width: 120px;
	height: 120px;
	display: block;
	margin-bottom: 10px; 
}

span.result {
	display: block;
}

img.icon {
	width: 90px;
	height: 90px;
}

div.newDrink > div.drink {
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px; 
}

.home, .logout {
	width: 100px;
    height: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.edit {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom: 1em;*/
}

.delete {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	/*position: absolute;*/
	/*left: 0;*/
	/*bottom: 1em;*/
}

.drinks {
	margin-bottom: 40px;
}

.border {
	border: black 1px solid;
  	/*background-color: rgba(50, 31, 31, 0.8);*/
}

.drink_log {
	height: 350px;
	position: relative;
}

.drink_btn {
	position: absolute;
	bottom: 1em;
	left: 0;
}

.drinkPage {
	display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 250px;
    height: 250px;
    float: none;
}

.hidden {
	display: none;
}

.rows {
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.rows::before,
.rows::after {
  display: table;
  content: '';
}

.rows::after {
  clear: both;
}
.colu-3, .colu-4, .colu-6, .colu-12 {
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.colu-3, .colu-4, .colu-6, .colu-12 {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media only screen and (min-width: 700px) {

	.drinkPage {
		width: 500px;
    	height: 500px;
    	margin-right: 5px;
    	float: left;
    	margin-left: auto;
	}
}

@media only screen and (min-width: 640px) {

	.colu-3 {
    	width: 25%;
	}

	.colu-4 {
		width: 33.33%
	}

	.colu-6 {
		width: 50%;
	}

	.colu-12 {
		width: 100%;
	}
}
@media only screen and (min-width: 426px) {

	legend {
		font-size: 25px;
	}

}
@media only screen and (min-width: 320px) {

	.home, .logout {
		width: 75px;
	}

}